<html>
<head>
<title> Sign Up</title>
<link rel="stylesheet" href="tt2.css">
</head>
<body style="background-color:#34495e;">
<div class ="Sign-up-form">
	<h1> Sign Up</h1>
	<form>
	<input type="email" class="input-box" placeholder="Your Email">
	<input type="password" class="input-box" placeholder="Your password">
	<p><span><input type="checkbox"></span> I agree to tearms and services</p>
	<button type="button" class="signup-btn">Sign up</button>
	<hr>
	
	<p>Do you have an account ?<a href="#">Sign in</a></p>
	
	</form>
	</div>
	</body>
</html>
